<script type="text/javascript" id="#queue">
	<div>queue</div>
</script>
<script type="text/javascript" id="#select">
	<div class="menu">
		<div class="album selected">album</div>
		<div class="artist">artist</div>
		<div class="song">song</div>
		<div class="genre">genre</div>
	</div>
	<div class="list" id="list">
		<div>
		<div class="album selected"></div>
		<div class="artist"></div>
		<div class="song"></div>
		<div class="genre"></div>
		</div>
	</div>
	<div class="playing" data-control="status">
		<div class="title">nothing!</div>
		<div class="album"></div>
		<div class="bar">
			<div class="progress">
				<div class="time">00:00</div>
			</div>
		</div>
	</div>
</script>
<script type="text/javascript" id="#search">
	<div>search</div>
</script>

<script type="text/javascript" id="#select_album">
	<div>
		<div class="album_header">
			<div class="img"><img src="{{:~processPath(path)}}/album.jpg" /></div>
			<h1>{{:key}} <span>{{:artist}}</span></h1>
		</div>
		<div class="album_items">
			{{for data}}
				<div data-song="{{:path}}">{{:title}}</div>
			{{/for}}
		</div>
	</div>
</script>
<script type="text/javascript" id="#select_artist">
	<div>
		<div class="header">
			<h1>{{:key}}</h1>
		</div>
		<div class="items">
			{{for data}}
				<div data-song="{{:path}}"><div class="img"><img src="{{:~processPath(path)}}/album.jpg" /></div>{{:title}}<span>{{:album}}</span></div>
			{{/for}}
		</div>
	</div>
</script>
<script type="text/javascript" id="#select_genre">
	<div>
		<div class="header">
			<h1>{{:key}}</h1>
		</div>
		<div class="items">
			{{for data}}
				<div data-song="{{:path}}"><div class="img"><img src="{{:~processPath(path)}}/album.jpg" /></div>{{:title}}<span>{{:album}}</span></div>
			{{/for}}
		</div>
	</div>
</script>
<script type="text/javascript" id="#select_song">
	<div data-song="{{:path}}"><div class="img"><img src="{{:~processPath(path)}}/album.jpg" /></div>{{:title}}<span>{{:artist}} on {{:album}}</span></div>
</script>